/***************************************
/* Grille de mise en page pour le mobile
***************************************/
.grid_6,
.grid_8,
.grid_10,
.grid_16,
.container_16 {
	margin: 0 10px;
}

/* 
Nom du thème : Simple Vitae (ou Simple Curriculum ou Simple Resume)
Description : Votre curriculum vitae sur Internet, un moyen supplémentaire de vous faire connaitre. Ce thème correspond à tous les types de métiers.
Créateur : Christophe HERMANN (@chrishrmnn)
*/

/**********
/* Header
**********/
	header[role=banner] {
		background:#fff;
		border-bottom:4px solid #33a4c9;
		padding: 19px 0;
		overflow: hidden;
	}
	
	header figure {
		display: none;
	}
	
	header hgroup {
		text-align: center;
	}
	
	header hgroup h1 {
		color:#555;
		font-family:'DroidSansBold', Arial, sans-serif;
	}
	
	header hgroup h2 {
		color:#cecece;
		font-style: italic;
		line-height: 30px;
		text-shadow: 1px 1px 0 rgba(0,0,0,.3);
	}


/***************
/* Corps - Main
***************/
	section[role=main] {
		padding: 21px 0;
		overflow: hidden;
	}
	
	.apropos, .competences, .experiences, .formations, .loisirs, .contact {
		margin-top: 63px;
	}
	
	section[role=main] h3 {
		border-bottom: 1px solid #e1e1e1;
		padding: 0 0 20px 60px;
		margin-top: 0px;
		position: relative;
 	}
	
	section[role=main] h3:after, h3:before {
		content: ' ';
		display: block;
		height: 50px;
		left: 0;
		position: absolute;
		top: -15px;
		width: 50px;
	}
	
	section[role=main] h3:before {
		background-color: #33a4c9;
		border-radius: 25px;
	}
	
		/***************
		/* Pictos titres
		***************/
		
		section[role=main] h3:after {
			background:url('../img/pictos-titre.png') no-repeat 11px 10px;
		}
		
		section[role=main] .competences h3:after {
			background-position: 11px -34px;
		}
	
		section[role=main] .experiences h3:after {
			background-position: 11px -86px;
		}
		
		section[role=main] .formations h3:after {
			background-position: 10px -139px;
		}
		
		section[role=main] .loisirs h3:after {
			background-position: 10px -250px;
		}
		
		section[role=main] .contact h3:after {
			background-position: 11px -194px;
		}
	
	section[role=main] h4 {
		margin-bottom: 0px;
	}
	
	section[role=main] .competences h4 {
		text-align: right;
	}

	.barres {
		margin-top: -10px;
	}
		
	section[role=main] h4 strong {
		color: #FF8000;
		font-weight: normal;
	}
	section[role=main] h4 strong:after {
		content:"\A"; white-space:pre; 
	}

	/**********************************************
	/* Affichage des compétences sous forme de tags
	**********************************************/
	.tags li {
		background-color:#33a4c9;
		border:1px solid #1b91b7;
		color:#fff;
		display: inline-block;
		line-height: 13px;
		margin: 0 3px 3px 0;
		padding: 3px;
		font-size: 80%;
	}
	.big-tags li {
		background-color:#33a4c9;
		border:1px solid #1b91b7;
		color:#fff;
		display: inline-block;
		line-height: 13px;
		margin: 0 3px 3px 0;
		padding: 5px; 
	}
	
	/************************************************
	/* Affichage des compétences sous forme de barres
	*************************************************/
	.competences .barres li {
		margin-bottom: 21px;
		position: relative;
	}
	
	.competences .barres li:after {
		background: #e1e1e1;
		bottom: -4px;
		content: ' ';
		display: block;
		height: 5px;
		position: absolute;
		width:100%;
	}
	
	.competences .barres li span {
		bottom: -4px;
		content: ' ';
		display: block;
		height: 5px;
		left: 0;
		position: absolute;
		width: inherit;
		z-index: 1;
	}
	.barres-blue li span {
		background: #33a4c9;
	}

	.barres-orange li span {
		background: #FF8000;
	}
	
	
	
.right-aligned {
	text-align:right;
}

.no-margins * {
	margin:0px;
}

.dates {
	font-style: italic;
}

	
ul.origin { 
   list-style-type: disc; 
   list-style-position: inside;
   padding: 0 0 0  20px;
   margin-top: 5px;
}

.menu {
	border: 1px solid grey;
	border-left: 8px solid #ff8000;
	position: fixed;
	top: 5px;
	left: 100%;
	background-color: white;
	border-radius: 3px;
	margin-left: -8px;
	z-index: 10;
}