body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

header {
	overflow: hidden;
}

header hgroup {
	width: 80%;
	float: left;
	padding: 35px 0;
}

header figure {
	width: 20%;
	float: right;
}

.contactform {
	display: none;
}

.grid_8 {
	width: 46%;
	float: left;
	margin-right: 2%;
}

.grid_16 {
	clear: both;
}

h3 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin:30px 0 10px 0;
}



.contact ul li {
	list-style: square;
	margin-left: 40px;
}

.contact ul li.form {
	display: none;
}

p {
  orphans: 3; /* pas de ligne seule en bas */
  widows: 3; /* pas de ligne seule en haut */
}

	section[role=main] .competences h4 {
		text-align: right;
	}

	.barres {
		margin-top: -10px;
	}

		/**********************************************
	/* Affichage des compétences sous forme de tags
	**********************************************/
	.tags li {
		background-color:#33a4c9;
		border:1px solid #1b91b7;
		color:#fff;
		display: inline-block;
		line-height: 13px;
		margin: 0 3px 3px 0;
		padding: 3px;
		font-size: 80%;
	}
	.big-tags li {
		background-color:#33a4c9;
		border:1px solid #1b91b7;
		color:#fff;
		display: inline-block;
		line-height: 13px;
		margin: 0 3px 3px 0;
		padding: 5px; 
	}

		/************************************************
	/* Affichage des compétences sous forme de barres
	*************************************************/
	.competences .barres li {
		margin-bottom: 21px;
		position: relative;
	}
	
	.competences .barres li:after {
		background: #e1e1e1;
		bottom: -4px;
		content: ' ';
		display: block;
		height: 5px;
		position: absolute;
		width:100%;
	}
	
	.competences .barres li span {
		bottom: -4px;
		content: ' ';
		display: block;
		height: 5px;
		left: 0;
		position: absolute;
		width: inherit;
		z-index: 1;
	}
	.barres-blue li span {
		background: #33a4c9;
	}

	.barres-orange li span {
		background: #FF8000;
	}

	.right-aligned {
	text-align:right;
}

.no-margins * {
	margin:0px;
}

.dates {
	font-style: italic;
}

ul.origin { 
   list-style-type: disc; 
   list-style-position: inside;
   padding: 0 0 0  20px;
   margin-top: 5px;
}
	